<!DOCTYPE html>
<html>
<head>
  <title>Scheduler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-image:url(http://www.gowallpaper.net/wp-content/uploads/2011/05/sea-coast-summer-free-desktop-wallpapers-1600x1200.jpg)">
  <div style="border:2px solid black;border-radius:4px;margin:1%">
    <h2 style="text-align:center">Lakeside Dining Schedule - Summer/Casual 2015</h2>
  </div>
<%= yield %>
</body>
</html>
